name: CI/CD Pipeline

# Trigger: Jalan setiap kali ada push ke branch 'main'
on:
  push:
    branches: [ "main" ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
    # 1. Download kode dari repo
    - name: Checkout code
      uses: actions/checkout@v3

    # 2. Login ke Docker Hub
    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    # 3. Build & Push Backend
    - name: Build and Push Backend
      uses: docker/build-push-action@v4
      with:
        context: .
        file: Dockerfile.backend
        push: true
        tags: ${{ secrets.DOCKER_USERNAME }}/flight-backend:latest

    # 4. Build & Push Frontend
    - name: Build and Push Frontend
      uses: docker/build-push-action@v4
      with:
        context: .
        file: Dockerfile.frontend
        push: true
        tags: ${{ secrets.DOCKER_USERNAME }}/flight-frontend:latest